input {
	width: 192px;
	height: 60px;
	border: none;
	border-radius: 12px;
	box-shadow: 0px 0px 5px var(--c-blue);
	padding: 20px 6px 0 12px;
	outline: none;
	font-size: 17px;
	box-sizing: border-box;
}

.input-wrapper {
	position: relative;
	width: 192px;
}

label {
	position: absolute;
	left: 12px;
	top: 50%;
	transform: translateY(-50%);
	color: gray;
	pointer-events: none;
	transition: 0.2s;
}

input:focus+label {
	top: 16px;
	font-size: 16px;
	color: var(--c-blue);
}

input:not(:placeholder-shown)+label {
	top: 16px;
	font-size: 16px;
}

.password-toggle {
	position: absolute;
	right: 12px;
	top: calc(50% - 16px);
	cursor: pointer;
}