input {
	width: 192px;
	height: 48px;
	// border: 1px solid var(--c-blue);
	border: none;
	border-radius: 12px;
	box-shadow: 0px 0px 5px var(--c-blue);
	padding: 6px;
	outline: none;
	font-size: 17px;
	box-sizing: border-box;
}

.input-wrapper {
	position: relative;
	width: 192px;
}

label {
	position: absolute;
	left: 12px;
	top: 50%;
	transform: translateY(-50%);
	color: gray;
	pointer-events: none;
	transition: 0.2s;
	background: white;
	padding: 0 4px;
	border-radius: 12px 12px 0 0;
	padding: 6px;
}

input:focus+label {
	top: 0;
	font-size: 16px;
	color: var(--c-blue);
}

/* Когда есть текст */
input:not(:placeholder-shown)+label {
	top: 0;
	font-size: 16px;
}