@use 'scss/vars';

html,
body {
	padding: 0;
	margin: 0;
	width: 100vw;
	height: 100vh;
	font-family: Roboto, sans-serif;
	color: #F6F6F6;
	font-size: 17px;
	letter-spacing: 0.05rem;
	// letter-spacing: 1px;
}

#root {
	width: 100vw;
	height: 100vh;
}