.nav {
	background-color: var(--c-blue);
	height: 100%;
	width: 10%;
	min-width: 164px;
	padding: 16px;

	&_item {
		cursor: pointer;

		&:not(:last-child) {
			margin-bottom: 16px;
		}

		&.active {
			font-weight: 900;
			font-size: 1.5rem;
		}
	}
}