[data-component="messenger"] {
	&.container {
		box-sizing: border-box;
		border: 1px solid black;
		background-color: var(--c-blue);
		height: 100%;
		overflow: auto;
		padding: 16px;
		display: flex;
	}

	.aside {
		width: 400px;
	}

	.tabs {
		display: flex;

		&_item {
			cursor: pointer;
			color: var(--c-text-secondary);
			width: 100%;
			text-align: center;
			padding: 0 0 6px 0;
			border-bottom: 1px solid var(--c-text-secondary);

			&.active {
				color: var(--c-text);
				border-bottom: 1px solid var(--c-text);
			}
		}
	}

	.chat-list {
		display: flex;
		flex-direction: column;

		&_item {
			display: grid;
			grid-template-columns: 50px 1fr;
			grid-template-rows: auto auto;
			gap: 4px 10px;
			align-items: center;

			&_avatar {
				grid-row: 1 / 3;
				grid-column: 1;

				img {
					width: 56px;
					height: 56px;
				}
			}

			&_title {
				grid-column: 2;
				grid-row: 1;
			}

			&_last-message {
				grid-column: 2;
				grid-row: 2;
				display: flex;
				justify-content: space-between;
				color: var(--c-text-secondary)
			}
		}
	}
}