[data-component="messenger"] {
	&.container {
		box-sizing: border-box;
		border: 1px solid black;
		background-color: var(--c-blue);
		height: 100%;
		overflow: auto;
		// padding: 16px;
		display: flex;
	}

	.aside {
		box-sizing: border-box;
		width: 400px;
		padding: 16px;
	}

	.tabs {
		display: flex;
		margin: 12px 0 12px 0;

		&_item {
			cursor: pointer;
			color: var(--c-text-secondary);
			width: 100%;
			text-align: center;
			padding: 0 0 6px 0;
			border-bottom: 1px solid var(--c-text-secondary);

			&.active {
				color: var(--c-text);
				border-bottom: 1px solid var(--c-text);
			}
		}
	}

	.chat-list {
		display: flex;
		flex-direction: column;

		&_item {
			display: grid;
			grid-template-columns: 50px 1fr;
			grid-template-rows: auto auto;
			gap: 4px 10px;
			align-items: center;

			&_avatar {
				grid-row: 1 / 3;
				grid-column: 1;

				img {
					width: 56px;
					height: 56px;
				}
			}

			&_title {
				grid-column: 2;
				grid-row: 1;
			}

			&_last-message {
				grid-column: 2;
				grid-row: 2;
				display: flex;
				justify-content: space-between;
				color: var(--c-text-secondary)
			}
		}
	}

	.content {
		box-sizing: border-box;
		display: flex;
		flex-direction: column;
		width: 100%;

		.user {
			box-sizing: border-box;
			padding: 6px;
			display: grid;
			grid-template-columns: 48px 1fr;
			grid-template-rows: auto auto;
			gap: 4px 10px;
			align-items: center;
			height: 64px;

			&_avatar {
				grid-row: 1 / 3;
				grid-column: 1;

				&,
				img {
					width: 48px;
					height: 48px;
				}
			}

			&_name {
				grid-column: 2;
				grid-row: 1;
			}

			&_last-seen {
				grid-column: 2;
				grid-row: 2;
				display: flex;
				justify-content: space-between;
				color: var(--c-text-secondary)
			}
		}

		.chat {
			box-sizing: border-box;
			display: flex;
			flex-direction: column;
			gap: 8px;
			padding: 10px;
			width: 100%;
			height: 100%;
			background-color: var(--c-blue-light);

			&_message {
				display: flex;
				flex-direction: column;
				max-width: 60%;
				padding: 8px 12px;
				border-radius: 12px;
				background: #e5e5ea;
				word-wrap: break-word;

				&_text {}

				&_date {
					font-size: 12px;
					opacity: 0.7;
					margin-top: 4px;
					align-self: flex-end;
				}

				&.from {
					align-self: flex-start;
					background: #e5e5ea;
					color: var(--c-blue)
				}

				&.to {
					align-self: flex-end;
					background: #4f93ff;
					color: white;
				}
			}
		}
	}

	.input-message {
		background-color: var(--c-blue-light);
	}
}