button {
	box-sizing: border-box;
	height: 48px;
	border-radius: 6px;
	background-color: var(--c-blue);
	border: 1px solid var(--c-blue);
	box-shadow: 0px 0px 5px var(--c-blue);
	cursor: pointer;
	color: #F6F6F6;
	transition: 0.1s;
	font-size: 17px;

	&:not(:disabled):hover {
		background-color: var(--c-blue-light);
	}

	&:disabled {
		filter: brightness(0.7);
		border-color: #e6e6e6;
		box-shadow: none;
		cursor: not-allowed;
	}
}

.button-secondary {
	background-color: #F6F6F6;
	color: #4A4A4A;
	position: relative;

	&:not(:disabled):hover {
		background-color: #e6e6e6;
	}
}