button {
	box-sizing: border-box;
	height: 48px;
	border-radius: 6px;
	background-color: var(--c-blue);
	border: 1px solid var(--c-blue);
	box-shadow: 0px 0px 5px var(--c-blue);
	cursor: pointer;
	color: #F6F6F6;
	transition: 0.1s;

	&:hover {
		background-color: var(--c-blue-light);
	}
}

.button-secondary {
	background-color: #F6F6F6;
}