[data-component="login"] {
	&.container {
		height: 100%;
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		display: flex;
		flex-direction: column;
		background-color: var(--c-blue);
	}

	.logo {
		font-size: 48px;
		font-weight: 700;
		margin-bottom: 12px;
	}

	.form {
		background-color: #F6F6F6;
		padding: 24px;
		border-radius: 6px;
		width: 90%;
		box-sizing: border-box;

		&_login,
		&_register {
			display: flex;
			flex-direction: column;

			.input-wrapper:not(:last-child) {
				margin-bottom: 16px;
			}
		}

		&_message {
			color: var(--c-red);
			margin-bottom: 12px;
			text-align: center;
		}
	}

	a {
		color: #4a4a4a;
		cursor: pointer;
		position: relative;
	}

	.a-wrapper {
		width: 100%;
		display: flex;
		justify-content: end;
		margin-bottom: 16px;
	}

	.login-button,
	.signup-button {
		margin-bottom: 12px;
	}
}