footer {
	position: fixed;
	display: flex;
	background-color: var(--c-blue);
	width: 100%;
	height: 48px;
	justify-content: space-between;
	align-items: center;
	padding: 0 16px;
	box-sizing: border-box;
	bottom: 0;

	&_item {}
}