[data-component="contacts"] {
	.header {
		display: flex;
		height: 48px;
		justify-content: space-between;
		align-items: center;

		span {
			font-size: 20px;
		}
	}

	&.container {
		box-sizing: border-box;
		height: 100%;
		background-color: black;
		width: 100%;
		padding: 4px 16px;
	}
}